    <div class="page">Homepage</div>
    <section class="post-items">
        {{#each posts as |post|}}
            {{> user-posts}}
        {{/each}}
        {{!-- <section class="card">
            <div class="post-title">
                <div>"A day in the life"</div>
                <div class="post-tag">created by Matthew Delgado</div>
            </div>
            <div class="post-text">
                just another day in the life writing code! I love what i do!
            </div>
        </section> --}}
    </section>